{% load static %} {% load my_tags %} {% load i18n %}

<header>
  <!-- Begin Header Top Area -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- Begin Header Top Left Area -->
        <div class="col-lg-3 col-md-4">
          <div class="header-top-left">
            <ul class="phone-wrap">
              <li>
                <span>{% trans 'Telephone Enquiry' %}:</span
                ><a href="#">(+998) 94 007 41 74</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Header Top Left Area End Here -->
        <!-- Begin Header Top Right Area -->
        <div class="col-lg-9 col-md-8">
          <div class="header-top-right">
            <ul class="ht-menu">
              <!-- Begin Setting Area -->
              <li>
                <div class="ht-setting-trigger">
                  <span>{% trans 'Settings' %}</span>
                </div>
                <div class="setting ht-setting">
                  <ul class="ht-setting-list">
                    <li>
                      <a href="{% url 'users:accounts' %}"
                        >{% trans 'My Accounts' %}</a
                      >
                    </li>
                    {%if request.user.is_authenticated%}
                    <li>
                      <a href="{% url 'users:logout'%}">{% trans 'Logout' %}</a>
                    </li>
                    <li>
                      <a href="{% url 'orders:checkout' %}"
                        >{% trans 'Checkout' %}</a
                      >
                    </li>
                    <li>
                      <a href="{% url 'orders:history' %}"
                        >{% trans 'My order' %}</a
                      >
                    </li>
                    <li>
                      <a href="{% url 'users:faq' %}">{% trans 'Faq' %}</a>
                    </li>
                    {%else%}
                    <li>
                      <a href="{% url 'users:login'%}">{% trans 'Log In' %}</a>
                    </li>
                    {%endif%}
                  </ul>
                </div>
              </li>
              <li>
                <span class="language-selector-wrapper"
                  >{% trans 'Language' %} :</span
                >
                <div class="ht-language-trigger">
                  <span>{% trans 'Choose'%} ?</span>
                </div>
                <div class="language ht-language">
                  {% get_available_languages as all_lang %} {% for lang_code,
                  lang_name in all_lang %} {% if lang_name == 'English' or
                  lang_name == 'Uzbek' %}
                  <ul class="ht-setting-list">
                    <li class="active">
                      <a href="{% get_lang_url request lang_code %}"
                        >{{ lang_code|upper }}</a
                      >
                    </li>
                  </ul>
                  {% endif %} {% endfor %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
    <div class="container">
      <div class="row">
        <!-- Begin Header Logo Area -->
        <div class="col-lg-3">
          <div class="logo pb-sm-30 pb-xs-30">
            <a href="index.html">
              <img src="{%static 'images/menu/logo/1.jpg '%}" alt="" />
            </a>
          </div>
        </div>
        <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
          <!-- Begin Header Middle Searchbox Area -->
          <form action="#" class="hm-searchbox">
            <input
              type="text"
              name="q"
              value="{{ request.GET.q }}"
              placeholder="{% trans 'Enter your search key ...' %}"
            />
            <button class="li-btn" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
          <!-- Header Middle Searchbox Area End Here -->
          <!-- Begin Header Middle Right Area -->
          <div class="header-middle-right">
            <ul class="hm-menu">
              <!-- Begin Header Middle Wishlist Area -->
              <li class="hm-wishlist">
                <a href="{% url 'users:wishlist' %}">
                  <span class="cart-item-count wishlist-item-count"
                    >{{ request|get_wish_total|length }}</span
                  >
                  <i class="fa fa-heart-o"></i>
                </a>
              </li>
              <!-- Header Middle Wishlist Area End Here -->
              <!-- Begin Header Mini Cart Area -->
              <li class="hm-minicart">
                <div class="hm-minicart-trigger">
                  <span class="item-icon"></span>
                  <span class="item-text"
                    >${{ request|get_cart_total }}
                    <span class="cart-item-count"
                      >{{ request|get_user_cart|length }}</span
                    >
                  </span>
                  {% for product in request|get_user_cart %}
                </div>
                <span></span>
                <div class="minicart">
                  <ul class="minicart-product-list">
                    <li>
                      <a
                        href="single-product.html"
                        class="minicart-product-image"
                      >
                        <img
                          src="{{ product.image.url }}"
                          alt="cart products"
                        />
                      </a>
                      <div class="minicart-product-details">
                        <h6>
                          <a href="single-product.html">{{ product.title }}</a>
                        </h6>
                        <span
                          >{% if product.is_discount %}
                          <span style="color: #14ef31" class="price"
                            >${{ product.get_price }} -
                          </span>
                          <strike style="color: red"
                            >{{ product.price }}</strike
                          >
                          {% else %}
                          <span class="price" style="color: #b714ef"
                            >{% trans 'No discount' %} - ${{ product.price
                            }}</span
                          >
                          {% endif %} x {{ product.count }}</span
                        >
                      </div>
                      <td class="action">
                        <a
                          class="remove"
                          href="{% url 'products:add_or_remove' pk=product.id %}"
                        >
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </td>
                    </li>
                    <a href="{% url 'users:cart' %}"
                      >{% trans 'More product' %} ?</a
                    >
                  </ul>
                  <p class="minicart-total">
                    {% trans 'TOTAL' %}:
                    <span>$ {{ request|get_cart_total }}</span>
                  </p>
                  <div class="minicart-button">
                    <a
                      href="{% url 'users:cart' %}"
                      class="li-button li-button-fullwidth li-button-dark"
                    >
                      <span>{% trans 'View Full Cart' %}</span>
                    </a>
                    <a
                      href="{% url 'orders:checkout' %}"
                      class="li-button li-button-fullwidth"
                    >
                      <span>{% trans 'Checkout' %}</span>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </li>
              <!-- Header Mini Cart Area End Here -->
            </ul>
          </div>
          <!-- Header Middle Right Area End Here -->
        </div>
        <!-- Header Middle Right Area End Here -->
      </div>
    </div>
  </div>
  <div class="header-bottom header-sticky d-none d-lg-block d-xl-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Begin Header Bottom Menu Area -->
          <div class="hb-menu">
            <nav>
              <ul>
                <li class="dropdown-holder">
                  <a href="/">{% trans 'Home' %}</a>
                </li>
                <li class="dropdown-holder">
                  <a href="{% url 'blogs:list' %}">{% trans 'Blogs' %}</a>
                </li>
                <li class="dropdown-holder">
                  <a href="{% url 'products:list' %}">{% trans 'Products' %}</a>
                </li>
                <li class="dropdown-holder">
                  <a href="{% url 'pages:contact' %}">{% trans 'Contact' %}</a>
                </li>
                <li class="dropdown-holder">
                  <a href="{% url 'users:about'%}">{% trans 'About' %}</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- Header Bottom Menu Area End Here -->
        </div>
      </div>
    </div>
  </div>
  <!-- Header Bottom Area End Here -->
  <!-- Begin Mobile Menu Area -->
  <div class="mobile-menu-area d-lg-none d-xl-none col-12">
    <div class="container">
      <div class="row">
        <div class="mobile-menu"></div>
      </div>
    </div>
  </div>
  <!-- Mobile Menu Area End Here -->
</header>
